<div data-role="page" data-quicklinks="true">
	<div data-role="tabs">
		<div data-role="navbar">
			<ul>
	      <li><a href="#one" data-theme="a" data-ajax="false">Boosted</a></li>
	      <li><a href="#two" data-theme="a" data-ajax="false">User</a></li>
	      <li><a href="#three" data-theme="a" data-ajax="false">Search</a></li>
	      <li><a href="#four" data-theme="a" data-ajax="false">Settings</a></li>
	    </ul>
		</div>
		<div id="one" class="ui-content">
  		<h1>Boosted/Curated</h1>
		</div>
		<div id="two" class="ui-content">
  		<h1>User Apps</h1>
		</div>
		<div id="three" class="ui-content">
  		<h1>Search/Browse</h1>
		</div>
		<div id="four" class="ui-content">
  		<h1>Settings</h1>
		</div>
	</div>
	<div data-role="footer" data-position="fixed" data-tap-toggle="false">
		<p>Blackjack + Hookers, the Uncensored App Platform</p>
		<p>Copyright 2016 Intellectual Demon</p>
	</div>
</div>
